<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Welcome to the Fitness sound project</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt faucibus dapibus. Phasellus commodo nibh orci, vel pellentesque felis fermentum nec. Sed et sem nec erat efficitur porttitor a ac magna. Pellentesque ac mollis nisl. Nulla dignissim tincidunt tempus. Fusce eu rutrum dui. Maecenas molestie nulla libero, vitae mattis quam eleifend ut. Proin gravida facilisis rutrum. In accumsan elit eu ante pellentesque, fringilla ultrices sapien consectetur. </p>
            <a href="/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Login</a>
            <a href="/register" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Register</a>
        </div>
    </div>
</div>


