<div class="container-fluid">
    <div class="row">
        <div id="sidebar" class="col-3 bg-light ">
            <ul class="nav flex-column">
                {{#each navigationMenu as | navigation |}}
                <li class="nav-item">
                    <a class="nav-link" href="{{url}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
        <div id="content" class="col-9">
            <h5>
                Welcome to the fitness Sound app
            </h5>
        </div>
    </div>
</div>
