<h1>Edit Group</h1>

<form action="/admin/groups/update" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="name" name="name"  class="form-control" id="name" value="{{group.name}}">
        <input type="hidden" name="id" value="{{group.id}}">
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>