<h1>Groups</h1>
<a href="/admin/groups/add" > add a new group </a>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each groups as | group |}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{name}}</td>
            <td><a href="/admin/groups/edit/{{id}}"><button type="submit" class="btn btn-primary">Edit</button></a> &nbsp;
                <form action="/admin/groups/delete" method="post">
                    <input type="hidden" name="id" value="{{id}}">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

