<div id="footer" class="navbar navbar-dark bg-dark" style="position: fixed; bottom: 0; text-align: center; color: #ffffff; display: block; width: 100%">
    <p> This is my footer, there are many like it, but this one is mine &copy; </p>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#logoutbtn").hide()
        $.ajax({
            type: "GET",
            url: "/getsession",
            dataType: 'json',
            success: function(data) {
                if(data.response) {
                    $("#logoutbtn").show()
                }
            }
        })
    });
</script>
</body>
</html>
